{% load repeat %}
{% withul %}
{% for section, appear, fullUrl, alias, selected, children, options in gen %}
    {% with appearOpts=appear %}
    {% if appearOpts.appear %}

    <li{% if selected %}{% block selectedAttrs %} class="selected"{% endblock %}{% else %}{% block nonSelectedAttrs %}{% endblock %}{% endif %}>
        {% block insideLiLink %}<a href="{% if fullUrl|join:'/' != '' %}{{fullUrl|join:'/'}}{% else %}/{% endif %}">{{alias}}</a>{% endblock %}
        {% block insideLi %}{% endblock %}
    </li>

    {% endif %}
	{% endwith %}

{% endfor %}
{% endwithul %}
