{% for layer in menu.layered %}
<ul {% block ulAttrs %}{% endblock %}>
{% for section, fullUrl, alias, selected, children, options in layer %}
	{% if section.appear %}
	{% if not options.needsAuth or user.is_authenticated %}
    
    <li {% if selected %}{% block selectedAttrs %} class="selected" {% endblock %}{% else %}{% block nonSelectedAttrs %}{% endblock %}{% endif %}>
        <a href="{{fullUrl|join:'/'}}">{{sect.alias}}</a>
    </li>
    
	{%endif%}
	{%endif%}
{% endfor %}
</ul>
{% endfor %}

