{% load repeat %}
{% for layer in gen %}

{% withul %}
{% for section, appear, fullUrl, alias, selected, children, options in layer %}
    {% with appearOpts=appear %}
    {% if appearOpts.appear %}

    <li{% if selected %}{% block selectedAttrs %} class="selected"{% endblock %}{% else %}{% block nonSelectedAttrs %}{% endblock %}{% endif %}>
        {% block insideLiLink %}<a href="{{fullUrl|join:'/'}}">{{alias}}</a>{% endblock %}
        {% block insideLi %}{% endblock %}
    </li>
    
	{% endif %}
    {% endwith %}

{% endfor %}
{% endwithul %}

{% endfor %}
